:root {
    --background-color: hwb(274 38% 8%);
    --color-princi: hwb(274 11% 10%);
    --color-secund: hwb(274 17% 60%);
    --tercer-color: hwb(274 8% 30%);
    --cuarto-color: hwb(274 5% 60%);
    --color-title: hwb(260 84% 0%);
    --color-subtitle: hwb(260 84% 20%);
    --color-text: hwb(260 94% 10%);
    --color-text-2: hwb(260 64% 10%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    border-radius: 0.75rem;
}

a {
    text-decoration: none;
}

header,
footer {
    height: 3.75rem;
    background-color: hwb(274 8% 30%);
}

/* header */

.nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.nav__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 42rem;
    margin-left: 1rem;
    list-style: none;
}

.nav-item {
    color: hwb(260 84% 20%);
    padding: 0.5rem 0.75rem;
    border-radius: 5rem;
    transition: background-color 500ms, color 150ms;
}

.nav-item:hover {
    background-color: hwb(274 11% 20%);
}

.nav-item:focus {
    color: #fff;
}

.nav-item--mod {
    background-color: var(--background-color);
    color: #fff;
}

.nav-item--mod:hover {
    background-color: var(--background-color);
    color: #fff;
    box-shadow: none;
}

.nav-logo {
    width: 4rem;
    transition: transform 150ms;
}
.nav-logo:hover {
    transform: scale(1.2);
}
.nav-logo:active {
    transform: scale(1);
}

/* header */

main {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-footer {
    color: hwb(0 100% 0%);
    font-weight: bold;
}

/* footer */

.separation-top {
    margin-top: 3rem;
}

/* Home */
.home__section {
    width: 70rem;
}

.title {
    font-size: 2rem;
    color: hwb(260 84% 0%);
    margin-bottom: 0.25rem;
}

.subtitle {
    color: hwb(260 84% 20%);
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.title,
.subtitle {
    text-align: center;
}

.home-image-1 {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: 0 80%;
}

.home__part-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.home__part-2-text {
    width: 18rem;
    font-size: 1.05rem;
    color: var(--color-text);
}

.home-image-2 {
    width: 22rem;
}

/* Home */

/* About Us */

.about-us__section,
.contact__section {
    width: 65rem;
}

.about-us-article {
    display: flex;
    gap: 25%;
    align-items: center;
    margin-bottom: 4rem;
}

.about-us-text {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-text);
}

.about-us-image,
.article-content img {
    width: 20rem;
    height: 16rem;
    object-fit: cover;
}

/* About Us */

/* Contact */

.contact__section-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-image {
    width: 60rem;
    height: 30rem;
    object-fit: cover;
}

.contact__section-article-text {
    font-size: 1.2rem;
    margin-top: 0.75rem;
    color: var(--color-text);
}

.contact__section-information-of-contact {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
    width: 100%;
}

.contact__section-information-of-contact p {
    color: var(--color-text);
}

.information-link {
    color: hwb(260 70% 0%);
}

.information-link:hover {
    text-decoration: underline;
}

/* Contact */

/* information */
table,
tr,
th,
td {
    text-align: center;
    border: solid 2px hwb(274 5% 60%);
    padding: 2rem 3.5rem;
    border-collapse: collapse;
    color: var(--color-text);
}

th {
    padding: 1rem 3rem;
    color: var(--color-title);
}

.more-information__section-article {
    margin-bottom: 5rem;
}

.table-head {
    background-color: hwb(274 8% 30%);
}
.table-r1 {
    background-color: hwb(274 20% 10%);
}
.table-r0 {
    background-color: hwb(274 20% 30%);
}

/* information */

/* benefits */

.benefits__section {
    width: 55rem;
}

.article-content {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8rem;
    margin-bottom: 5rem;
}

.article-content dl {
    list-style: none;
    padding-left: 0;
    color: var(--color-text);
    line-height: 2rem;
    padding-bottom: 4rem;
}

.article-content dl dt {
    font-weight: bold;
    font-size: 1.2rem;
}

.article-content dd {
    padding-left: 5rem;
}

/* benefits */

/* raffle */

.rafle__section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.rafle__section-container-article-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.rafle__section-container-article-map h3 {
    color: var(--color-text);
}
.rafle__section-container-article-map iframe {
    width: 38rem;
    height: 26rem;
}

.rafle__section-container-form {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: hwb(274 8% 30%);
    padding: 1rem 1.5rem;
    transition: box-shadow 0.5s;
}

.rafle__section-container-form:valid {
    box-shadow: 0px 5px 1rem hwb(274 8% 60%);
}

fieldset {
    border: none;
}

.input-form,
.rafle__section-container-form select {
    border: none;
    outline: none;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
}

.input-form {
    font-size: 1.05rem;
    transition: box-shadow 200ms;
}

.input-form,
.form-field:first-child select {
    margin-bottom: 0.5rem;
}

.input-form:focus:invalid:not(textarea) {
    box-shadow: 0 0 0 3px hwb(0 40% 0%);
}

.input-form:focus:valid:not(textarea) {
    box-shadow: 0 0 0 3px hwb(120 40% 20%);
}

.form-field {
    display: flex;
    flex-direction: column;
}

.rafle__section-container-form label,
#form-field-legend {
    color: var(--color-text);
}

.form-field:first-child label,
#form-field-legend {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

#form-field-legend {
    margin-bottom: 0.5rem;
}

.form-payment-option {
    margin-bottom: 0.5rem;
}

.form-payment-option input:checked + label {
    font-weight: bold;
}
.form-field:nth-child(3) {
    font-weight: bold;
    gap: 0.25rem;
}

textarea {
    resize: none;
}

.form-field:last-child {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-field:last-child fieldset {
    display: flex;
    gap: 0.3rem;
}

.form-btn {
    padding: 0.25rem 0.5rem;
    font-size: 1.01rem;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    color: hwb(260 100% 10%);
    background-color: hwb(260 64% 10%);
    cursor: pointer;
    transition: box-shadow 150ms, transform 50ms;
}

.form-btn:hover {
    box-shadow: 0 0 0 3px hwb(260 40% 10%);
}

.form-btn:active {
    transform: scale(0.9);
}

/* raffle */

/* tablet */
@media only screen and (max-width: 1024px) {
    footer {
        display: none;
    }

    /* header */
    header {
        height: 19rem;
    }

    .nav {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 0.5rem;
    }

    .nav__links {
        margin: 0;
        flex-direction: column;
        justify-content: space-around;
        flex: 1 1 0%;
    }

    .nav-logo {
        margin-top: 0.5rem;
        width: 4.5rem;
    }

    /* header */
    /* home */
    .home__section {
        width: 95%;
    }

    .home__part-2 {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 6rem;
        gap: 3rem;
    }

    .home-image-2 {
        width: 70%;
    }

    .home__part-2-text {
        width: 75%;
    }
    /* home */
    /* about */
    .about-us-article {
        flex-direction: column;
        gap: 1rem;
    }

    .about-us-image {
        width: 28rem;
        height: 24rem;
    }
    /* about */
    /* contact */
    .contact__section {
        width: 46rem;
    }

    .contact-image {
        width: 100%;
    }

    .contact__section-information-of-contact {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
    }
    /* contact */
    /* more information */
    .more-information__section {
        width: 80%;
        height: 100vh;
    }

    .more-information__section-article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table {
        width: 100%;
    }

    /* more information */
    /* benefits */

    .benefits__section {
        width: 35rem;
    }

    .benefits__section-article .article-content {
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .benefits__section-article .article-content img {
        width: 100%;
        height: 20rem;
    }

    .article-content dl {
        padding: 0;
        padding-left: 2rem;
        align-self: start;
    }
    /* benefits */
    /* rafle */
    .rafle__section {
        width: 40rem;
    }

    .rafle__section-container {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .rafle__section-container-form {
        width: 100%;
    }

    .form-field:last-child {
        margin-top: 0.5rem;
    }

    .form-btn {
        font-size: 1.1rem;
        padding: 0.5rem 0.75rem;
    }

    .form-btn:active {
        transform: none;
    }

    .rafle__section-container-article-map iframe {
        width: 28rem;
        height: 16rem;
    }
    /* rafle */
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    /* home */
    .home__section {
        width: 95%;
    }

    .home-image-1 {
        height: auto;
    }

    .home__part-2 {
        margin-top: 3rem;
    }

    .home__part-2-text {
        text-align: center;
    }
    /* home */
    /* about */
    .about-us__section {
        width: 70%;
    }

    .about-us-image {
        width: 100%;
        height: 20rem;
    }

    .about-us-text {
        text-align: center;
    }
    /* about */
    /* contact */
    .contact__section {
        width: 95%;
    }

    .contact-image {
        width: 100%;
        height: auto;
    }

    .contact__section-article-text {
        text-align: center;
    }
    /* contact */
    /* more information */
    .more-information__section {
        width: 90%;
    }

    table {
        transform: scale(0.9);
    }

    td {
        padding: 2rem 1.2rem;
    }

    th {
        padding: 1rem 0.25rem;
    }
    /* more information */
    /* benefits */
    .benefits__section {
        width: 75%;
    }

    .benefits__section-article .article-content img {
        width: 100%;
        height: 15rem;
    }
    /* benefits */
    /* rafle */
    .rafle__section {
        width: 80%;
    }

    .input-form {
        width: 100%;
    }
    
    .rafle__section-container-article-map {
        width: 100%;
        height: auto;
    }

    .rafle__section-container-article-map h3 {
        text-align: center;
    }

    .rafle__section-container-article-map iframe {
        width: 70%;
        height: 50%;
    }
    /* rafle */
}
