:root {
    --background-color: hwb(274 38% 8%);
    --color-princi: hwb(274 11% 10%);
    --color-secund: hwb(274 17% 60%);
    --tercer-color: hwb(274 8% 30%);
    --cuarto-color: hwb(274 5% 60%);
    --color-title: hwb(260 84% 0%);
    --color-subtitle: hwb(260 84% 20%);
    --color-text: hwb(260 94% 10%);
    --color-text-2: hwb(260 64% 10%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    border-radius: 0.75rem;
}

a {
    text-decoration: none;
}

header,
footer {
    height: 3.75rem;
    background-color: hwb(274 8% 30%);
}

/* header */

.nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.nav__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 42rem;
    margin-left: 1rem;
    list-style: none;
}

.nav-item {
    color: hwb(260 84% 20%);
    padding: 0.5rem 0.75rem;
    border-radius: 5rem;
    transition: background-color 500ms, color 150ms;
    
}

.nav-item:hover {
    background-color: hwb(274 11% 20%);
}

.nav-item:focus{
    color: #fff;
}

.nav-item--mod {
    background-color: var(--background-color);
    color: #fff;
}

.nav-item--mod:hover {
    background-color: var(--background-color);
    color: #fff;
    box-shadow: none;
}

.nav-logo {
    width: 4rem;
    transition: transform 150ms;
}
.nav-logo:hover {
    transform: scale(1.2);
}
.nav-logo:active {
    transform: scale(1);
}

/* header */

main {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-footer {
    color: hwb(0 100% 0%);
    font-weight: bold;
}

/* footer */

.home__section,
.about-us__section,
.contact__section,
.more-information__section,
.benefits__section {
    margin-top: 3rem;
}

/* Home */
.home__section {
    width: 70rem;
}

.title {
    font-size: 2rem;
    color: hwb(260 84% 0%);
    margin-bottom: 0.25rem;
}

.subtitle {
    color: hwb(260 84% 20%);
    margin-bottom: 2rem;
    font-size: 1.4rem;
}

.title,
.subtitle {
    text-align: center;
}

.home-image-1 {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: 0 80%;
}

.home__part-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.home__part-2-text {
    width: 18rem;
    font-size: 1.05rem;
    color: var(--color-text);
}

.home-image-2 {
    width: 22rem;
}

/* Home */

/* About Us */

.about-us__section,
.contact__section {
    width: 65rem;
}

.about-us-article {
    display: flex;
    gap: 25%;
    align-items: center;
    margin-bottom: 4rem;
}

.about-us-text {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-text);
}

.about-us-image,
.article-content img {
    width: 20rem;
    height: 16rem;
    object-fit: cover;
}

/* About Us */

/* Contact */

.contact__section-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-image {
    width: 60rem;
    height: 30rem;
}

.contact__section-article-text {
    font-size: 1.2rem;
    margin-top: 0.75rem;
    color: var(--color-text);
}

.contact__section-information-of-contact {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
    width: 100%;
}

.contact__section-information-of-contact p {
    color: var(--color-text);
}

.information-link {
    color: hwb(260 70% 0%);
}

.information-link:hover {
    text-decoration: underline;
}

/* Contact */

/* information */

table,
tr,
th,
td {
    text-align: center;
    border: solid 2px hwb(274 5% 60%);
    padding: 2rem 3.5rem;
    border-collapse: collapse;
    color: var(--color-text);
}

th {
    padding: 1rem 3rem;
    color: var(--color-title) ;
}

.more-information__section-article {
    margin-bottom: 5rem;
}

.table-head {
    background-color: hwb(274 8% 30%);;
}
.table-r1 {
    background-color: hwb(274 20% 10%);;
}
.table-r0 {
    background-color: hwb(274 20% 30%);;
}

/* information */

/* benefits */

.benefits__section {
    width: 55rem;
}

.article-content {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8rem;
    margin-bottom: 5rem;
}

.article-content dl {
    list-style: none;
    padding-left: 0;
    color: var(--color-text);
    line-height: 2rem;
    padding-bottom: 4rem;
}

.article-content dl dt {
    font-weight: bold;
    font-size: 1.2rem;
}

.article-content dd {
    padding-left: 5rem;
}

/* benefits */
